alembic==1.12.1 ; python_version >= "3.10" and python_version < "3.13"
aniso8601==9.0.1 ; python_version >= "3.10" and python_version < "3.13"
apispec-webframeworks==0.5.2 ; python_version >= "3.10" and python_version < "3.13"
apispec[yaml]==5.2.2 ; python_version >= "3.10" and python_version < "3.13"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.13"
automat==22.10.0 ; python_version >= "3.10" and python_version < "3.13"
bidict==0.22.1 ; python_version >= "3.10" and python_version < "3.13"
binaryornot==0.4.4 ; python_version >= "3.10" and python_version < "3.13"
blinker==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.16.0 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.10" and python_version < "3.13"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
constantly==23.10.4 ; python_version >= "3.10" and python_version < "3.13"
cookiecutter==2.1.1 ; python_version >= "3.10" and python_version < "3.13"
dask==2023.10.1 ; python_version >= "3.10" and python_version < "3.13"
deepdiff==6.2.3 ; python_version >= "3.10" and python_version < "3.13"
distributed==2023.10.1 ; python_version >= "3.10" and python_version < "3.13"
dnspython==2.4.2 ; python_version >= "3.10" and python_version < "3.13"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
flask-cors==4.0.0 ; python_version >= "3.10" and python_version < "3.13"
flask-marshmallow==0.14.0 ; python_version >= "3.10" and python_version < "3.13"
flask-migrate==3.1.0 ; python_version >= "3.10" and python_version < "3.13"
flask-restful==0.3.10 ; python_version >= "3.10" and python_version < "3.13"
flask-socketio==5.3.6 ; python_version >= "3.10" and python_version < "3.13"
flask-sqlalchemy==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
flask==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2023.10.0 ; python_version >= "3.10" and python_version < "3.13"
gevent-websocket==0.10.1 ; python_version >= "3.10" and python_version < "3.13"
gevent==23.9.1 ; python_version >= "3.10" and python_version < "3.13"
gitignore-parser==0.1.9 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.0.1 ; python_version >= "3.10" and python_version < "3.13" and (platform_python_implementation == "CPython" or platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.13"
hyperlink==21.0.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.4 ; python_version >= "3.10" and python_version < "3.13"
importlib-metadata==6.8.0 ; python_version >= "3.10" and python_version < "3.13"
incremental==22.10.0 ; python_version >= "3.10" and python_version < "3.13"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
jinja2-time==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
kthread==0.2.3 ; python_version >= "3.10" and python_version < "3.13"
locket==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
mako==1.2.4 ; python_version >= "3.10" and python_version < "3.13"
markdown==3.5.1 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
marshmallow-sqlalchemy==0.28.1 ; python_version >= "3.10" and python_version < "3.13"
marshmallow==3.20.1 ; python_version >= "3.10" and python_version < "3.13"
modin[dask]==0.25.0 ; python_version >= "3.10" and python_version < "3.13"
msgpack==1.0.7 ; python_version >= "3.10" and python_version < "3.13"
networkx==2.8.8 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.1 ; python_version >= "3.10" and python_version < "3.13"
openpyxl==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.9.10 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
partd==1.4.1 ; python_version >= "3.10" and python_version < "3.13"
passlib==1.7.4 ; python_version >= "3.10" and python_version < "3.13"
plotly==5.18.0 ; python_version >= "3.10" and python_version < "3.13"
psutil==5.9.6 ; python_version >= "3.10" and python_version < "3.13"
pyarrow==10.0.1 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.10" and platform_python_implementation == "CPython" and sys_platform == "win32" and python_version < "3.13"
pymongo[srv]==4.6.0 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
python-engineio==4.8.0 ; python_version >= "3.10" and python_version < "3.13"
python-slugify==8.0.1 ; python_version >= "3.10" and python_version < "3.13"
python-socketio==5.10.0 ; python_version >= "3.10" and python_version < "3.13"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.10" and python_version < "3.13"
pytz==2022.1 ; python_version >= "3.10" and python_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "3.13"
simple-websocket==0.10.1 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.23 ; python_version >= "3.10" and python_version < "3.13"
taipy-config==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
taipy-core==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
taipy-gui==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
taipy-rest==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
taipy-templates==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
taipy==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
tblib==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.13"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.13"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.13"
tornado==6.3.3 ; python_version >= "3.10" and python_version < "3.13"
twisted-iocpsupport==1.0.4 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
twisted==23.10.0 ; python_version >= "3.10" and python_version < "3.13"
types-python-dateutil==2.8.19.14 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.13"
tzlocal==4.3.1 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
werkzeug==3.0.1 ; python_version >= "3.10" and python_version < "3.13"
wsproto==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
zict==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.13"
zope-event==5.0 ; python_version >= "3.10" and python_version < "3.13"
zope-interface==6.1 ; python_version >= "3.10" and python_version < "3.13"
